<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\MediaGalleryUi\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="path" xsi:type="object">Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\Directory</item>
                <item name="fulltext" xsi:type="object">Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\Keyword</item>
                <item name="content_status" xsi:type="object">Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\MediaGalleryUi\Model\Api\SearchCriteria\CollectionProcessor\SortingProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor" />
    <virtualType name="Magento\MediaGalleryUi\Model\Api\SearchCriteria\CollectionProcessor\PaginationProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor" />
    <virtualType name="Magento\MediaGalleryUi\Model\Api\SearchCriteria\CollectionProcessor\JoinProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\JoinProcessor">
        <arguments>
            <argument name="customJoins" xsi:type="array">
                <item name="content_status" xsi:type="object">Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\JoinProcessor\ContentStatus</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\MediaGalleryUi\Model\Api\SearchCriteria\CollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\MediaGalleryUi\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\MediaGalleryUi\Model\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\MediaGalleryUi\Model\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
                <item name="joins" xsi:type="object">Magento\MediaGalleryUi\Model\Api\SearchCriteria\CollectionProcessor\JoinProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\MediaGalleryUi\Model\Listing\DataProvider">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\MediaGalleryUi\Model\Api\SearchCriteria\CollectionProcessor</argument>
        </arguments>
    </type>
    <type name="Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetContentIdByStatusComposite">
        <arguments>
            <argument name="getContentIdByStatusArray" xsi:type="array">
                <item name="getProductIdByStatus" xsi:type="object">Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetProductIdByStatus</item>
                <item name="getCategoryIdByStatus" xsi:type="object">Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetCategoryIdByStatus</item>
                <item name="getPageIdByStatus" xsi:type="object">Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetPageIdByStatus</item>
                <item name="getBlockIdByStatus" xsi:type="object">Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetBlockIdByStatus</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetProductIdByStatus"
                 type="Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetEavContentIdByStatus">
        <arguments>
            <argument name="entityEavTypeTable" xsi:type="string">catalog_product_entity_int</argument>
            <argument name="attributeCode" xsi:type="string">status</argument>
            <argument name="entityType" xsi:type="string">catalog_product</argument>
            <argument name="entityTypeId" xsi:type="string">4</argument>
            <argument name="valueMap" xsi:type="array">
                <item name="1" xsi:type="string">1</item>
                <item name="0" xsi:type="string">2</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetCategoryIdByStatus"
                 type="Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetEavContentIdByStatus">
        <arguments>
            <argument name="entityEavTypeTable" xsi:type="string">catalog_category_entity_int</argument>
            <argument name="attributeCode" xsi:type="string">is_active</argument>
            <argument name="entityType" xsi:type="string">catalog_category</argument>
            <argument name="entityTypeId" xsi:type="string">3</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetPageIdByStatus"
                 type="Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetTableContentIdByStatus">
        <arguments>
            <argument name="entityType" xsi:type="string">cms_page</argument>
            <argument name="contentTable" xsi:type="string">cms_page</argument>
            <argument name="idColumn" xsi:type="string">page_id</argument>
            <argument name="statusColumn" xsi:type="string">is_active</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetBlockIdByStatus"
                 type="Magento\MediaGalleryUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus\GetTableContentIdByStatus">
        <arguments>
            <argument name="entityType" xsi:type="string">cms_block</argument>
            <argument name="contentTable" xsi:type="string">cms_block</argument>
            <argument name="idColumn" xsi:type="string">block_id</argument>
            <argument name="statusColumn" xsi:type="string">is_active</argument>
        </arguments>
    </virtualType>
</config>
